@charset "UTF-8";
/*样式*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #fff;
  color: #383838;
  font-family: "微软雅黑";
  font-size: 16px;
}

#wzq {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 636px;
  background: url("../images/bg_01.png");
  background-size: 1356px 636px;
  background-repeat: no-repeat;
}

/*开始界面场景*/
#Star {
  width: 1004px;
  height: 636px;
  background: url(../images/bg.jpg);
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#Star:after {
  content: "";
  display: block;
  clear: both;
}

#gk {
  width: 500px;
  height: 636px;
  background: transparent;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#gk ul {
  width: 200px;
  height: auto;
  background: transparent;
  margin: 100px auto 0;
}

#gk ul:after {
  content: "";
  display: block;
  clear: both;
}

#gk ul li {
  width: auto;
  height: auto;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 5px;
  padding: 10px;
  margin: 10px auto;
  color: #383838;
  font-size: 18px;
  font-weight: 400;
  transition: transform 1s ease 0s;
  transform: scale(1);
  cursor: pointer;
}

#Star .active {
  color: #fff;
  transform: scale(1.2);
  border-radius: 10px;
  background: #9A4D06;
}

h1 {
  width: 166px;
  height: 55px;
  background: transparent;
  padding: 5px;
  margin: 33px auto 66px;
  text-align: center;
  border-radius: 10px;
  letter-spacing: 30px;
  white-space: nowrap;
  font-weight: 500;
}

/*star 和    back*/
.star,
.back,
.btn,
.restart {
  width: 100px;
  height: auto;
  background: #9A4D06;
  position: absolute;
  bottom: 42px;
  right: 69px;
  padding: 0 25px;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
}

.star a,
.back a,
.btn a,
.restart a {
  display: block;
  white-space: nowrap;
  letter-spacing: 1px;
  color: #dfdfdf;
  transform: scale(1);
}

.star a:hover,
.back a:hover,
.btn a:hover,
.restart a:hover {
  transform: scale(1.2);
}

/*Cj*/
#Cj {
  width: 266px;
  height: 333px;
  background: #9A4D06;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  top: 8px;
  color: #fff;
  opacity: 0.88;
  transition: transform 1s ease-in-out 0s;
  transform: scale(0, 0);
}

#Cj.active {
  transform: scale(1.2, 1.2);
}

#Cj .cj {
  width: 100px;
  height: auto;
  background: transparent;
  margin: 30px auto 33px;
}

#Cj .cj .dt {
  width: 100px;
  height: auto;
  background: transparent;
  padding: 10px;
  margin: 5px auto;
}

#Cj .dd {
  width: 266px;
  height: 48px;
  background: transparent;
  margin: 88px auto 33px;
  overflow: hidden;
}

#Cj .dd:after {
  content: "";
  display: block;
  clear: both;
}

#Cj .dd li {
  float: left;
  padding: 5px;
  margin: 2px;
  text-align: center;
  line-height: 33px;
  cursor: pointer;
}

/*Cj End*/
/*Xk*/
#Xk {
  width: 266px;
  height: 333px;
  background: #9A4D06;
  opacity: 0.88;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  top: 8px;
  transition: transform 1s ease-in-out 0s;
  transform: scale(0, 0);
}

#Xk.active {
  transform: scale(1.2, 1.2);
}

#Xk .ms {
  padding: 10px;
  margin: 30px auto 33px;
  text-align: center;
}

form {
  width: 75px;
  height: 221px;
  background: transparent;
  display: block;
  padding: 10px;
  margin: 5px auto;
}

form input {
  margin: 5px auto 20px;
}

/*Xk End*/
/*下棋场景*/
#Canvas {
  width: 1004px;
  height: 636px;
  background: #CE8D3D;
  background-image: url("../images/bg.jpg");
  background: transparent;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
}

#Canvas:after {
  content: "";
  display: block;
  clear: both;
}

#canvas,
#canvas-z,
#canvas-y {
  float: left;
}

#audio {
  float: left;
}

audio {
  display: block;
  z-index: 111;
}

canvas {
  display: block;
  border: 0 solid #000;
}

#canvas-z,
#canvas-y {
  background-image: url("../images/miaobiao.png");
  background-size: 200px 200px;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 20px;
}

#play {
  width: 600px;
  height: auto;
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  margin: auto;
}

#play:after {
  content: "";
  display: block;
  clear: both;
}

#play li {
  width: 100px;
  height: auto;
  background: #D77B3F;
  float: left;
  padding: 5px 25px;
  margin: 0 50px;
  text-align: right;
  line-height: 20px;
  border-radius: 12px;
}

#play li a {
  display: block;
  letter-spacing: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #dfdfdf;
  transform: scale(1);
}

#play li a:hover {
  transform: scale(1.2);
}

/*查看棋谱*/
#check {
  width: 600px;
  height: 600px;
  background: #fff;
  transition: transform 1s ease-in-out 0s;
  transform: scale(0, 0);
  z-index: 999;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

#check.active {
  transform: scale(1, 1);
}

#check #close {
  width: 30px;
  height: 30px;
  background: transparent;
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  transform: rotate(45deg);
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

#check img {
  width: 100%;
}

#check a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}

#Canvas .btn {
  width: 115px;
  left: 10px;
  line-height: 39px;
  color: #fff;
}

#Canvas .restart {
  width: 115px;
  left: 10px;
  bottom: 86px;
  line-height: 39px;
  color: #fff;
}

/*输赢*/
#info {
  width: 300px;
  height: 300px;
  background: #9A4D06;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  text-align: center;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* 针对 IE8 以及更早的版本 */
  transition: transform 1s ease-in-out 0s;
  -webkit-transform: translate3d(0, -1000px, 0);
  transform: translate3d(0, -1000px, 0);
}

#info:after {
  content: "";
  display: block;
  clear: both;
}

#info.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#info span {
  display: block;
  text-align: center;
  padding: 5px;
  margin: 28px auto 30px;
  white-space: nowrap;
  letter-spacing: 5px;
  font-size: 32px;
}

#info .button {
  width: 90px;
  height: 30px;
  background: #9A4D06;
  float: left;
  padding: 10px;
  margin: 36px 30px;
  text-align: center;
  line-height: 10px;
  color: #fff;
  white-space: nowrap;
  letter-spacing: 3px;
  transform: scale(1);
}

#info .button:hover {
  transform: scale(1.2);
}

/*悔棋*/
.huiqi, .yihe, .renshu {
  width: 300px;
  height: 100px;
  background: #9A4D06;
  opacity: 0.88;
  filter: alpha(opacity=88);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 111;
  transition: transform 0.5s ease-in-out 0s;
  -webkit-transform: translate3d(0, -1000px, 0);
  transform: translate3d(0, -1000px, 0);
  text-align: center;
  line-height: 100px;
}

.huiqi.active, .yihe.active, .renshu.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.huiqi a, .yihe a, .renshu a {
  color: #fff;
}

.huiqi input, .yihe input, .renshu input {
  border: none;
}
